.container1{
    width: 50%;
    margin-left: 25%;
    height: fit-content;
    justify-content: center;
    text-align: center;
    /* margin-left: 15%; */
   background-color: lightblue   
}
.heading{
    text-align: center;
    justify-content: center;
}
h1{
   text-align: center;
   font-size: 50px;
   color:rgb(0, 0, 187);
}
.p p{
    text-align: center;
    color: black;
    font-size: 20px;
}

.h h3{
    font-size: 30px;
    margin-left: 38%;
}
h3{
    font-size: 25px;
}
.row-container{
    background-color:rgb(120, 169, 226);
    height: fit-content;
}